.sliderStyles{
    height: 100%;
    width: 100%;
    position: relative;
    height: 415px;
    margin: 0 auto;
}

.slideStyles{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
}

.leftArrowStyles, .rightArrowStyles{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
    z-index: 1;
    cursor: pointer;
}

.leftArrowStyles{
    left: 32px;
}

.rightArrowStyles{
    right: 32px;
}

.leftArrowStyles img, .rightArrowStyles img{
    width: 50px;
    height: 50px;
}

.dotsContainerStyles{
    display: flex;
    justify-content: center;
}

.dotStyles{
    margin: 0 3px;
    cursor: pointer;
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.slideIndex{
    display: flex;
    justify-content: center;
    margin: -45px 0 -15px 0;
    color: white;
    text-shadow: 1px 1px 2px black;
}


/* MOBILE DEVICES */
@media only screen and (max-width: 768px){
    .sliderStyles{
        height: 255px;
    }

    .slideStyles{
        border-radius: 10px;
    }

    .leftArrowStyles img, .rightArrowStyles img{
        width: 25px;
        height: 25px;
    }

    .leftArrowStyles{
        left: .5rem;    
    }

    .rightArrowStyles{
        right: .5rem;
    }
}