.collapse{
    margin-bottom: 10px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.collapse-button{
    /* height: 29px; */
    background-color: #FF6060;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    font-size: 1rem;
    list-style: none;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
}

.collapse-description{
    background-color: #F6F6F6;
    color: #FF6060;
    border-radius: 10px;
    margin: -15px 0 0 0;
    padding: 30px 10px 10px 10px;
    line-height: 25px;
}

.arrow{
    width: 20px;
    align-self: center;
    transition: .2s ease-in-out;
}

.arrow-down{
    transform: rotate(180deg);
    transition: .2s ease-in-out;
}