.lodging-page--heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.host-rating{
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: right;
}

.host{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* text-align: right; */
    margin-bottom: 15px;
}

.host p{
    text-align: center;
    white-space: pre-line;
    text-align: right;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

.tags li{
    display: inline;
    margin-right: 15px;
    background-color: #FF6060;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 5px 20px;
}

.host-photo{
    width: 64px;
    height: 64px;
    border-radius: 45px;
    margin-left: 10px;
}

h1, .host p, .title-location-tags p{
    color: #FF6060;
}

.lodging-page--title{
    margin-bottom: -10px;
}

.lodging-page--location{
    margin-bottom: 25px;
}

.tags{
    margin-bottom: 25px;
}

.lodging-page--title{
    width: 100%;
}

.title-location-tags{
    max-width : 70%
}