.test{
    width: 85%;
    margin: 0 auto;
}

.test > div > button{
    padding: 7px 10px;
}

.about-component{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-bottom: 10px;
    border-radius: 5px;
}

.about-component p{
    padding: 5px 10px 5px 10px;
}

/* MOBILE DEVICES */
@media only screen and (max-width: 768px){
    .test{
        width: 100%;
    }
}